/*------------------------Profile Page------------------------*/

.grid{
	display: grid;
  	height: 600px;
  	width:100%;
  	grid-gap: 10px;
  	grid-template: 60% 40% 20% 20% / 28%;
  	grid-row-gap: 0px;
}

.grid2{
	display: inline-grid;
	grid-template: 100% / 10% 10% 10%;
}

img{
	margin-top: 25px;
	width: 160px;
	height: 180px;
}

#profile{
	padding-top: 40px;
	margin-left: 500px;
}

#profile h1{
	font-size: 26px;
	color: white;
}
#profile h3{
	font-size: 16px;
	margin-top: -10px;
	font-weight: lighter;
	color: white

}
.top{
	text-align: center;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #60a3bc;
	border-collapse: collapse;
	font-family: "Calibri";

}

.bottom{
	border: 1px solid black;
	box-shadow: 1px 1px 8px 0.2px #888888;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#userinfo p{
	font-size: 18px;
	color: #636e72;
	font-family: "Calibri";
	margin-left: 30px;
	margin-right: 30px;
	word-wrap: break-word;
}

/*------------------------------------------------------------*/