<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/app.css">
		<title>Profile</title>
	</head>
	<div class="grid" id="profile">
		<div class="top">

			<img src="../static/title771078764.png">
			<h1>Richard Howlett</h1>
			<h3>@SinlessVirgo</h3>
			<h3>Kingston, Jamaica</h3>
			<h3>joined January, 2018</h3>
		</div>

		<div class="bottom" id="userinfo">
			<p>
				I am a smart and talented young man who loves website design and development. Contact me if you'd like to work together on a new project.
			</p>
			<div class="grid2" id="stats">
				<h4>Posts</h4><h4>Following</h4><h4>Followers</h4>
			</div>
			<button>Follow</button>
		</div>
	</div>
</html>