{% extends "base.html" %}

{% block main %}
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/app.css">
		<title>Profile</title>
	</head>
	<div class="grid" id="profile">
		<div class="top">

			<img src="{{url_for('static', filename='title771078764.png')}}" />
			<h1>Richard Howlett</h1>
			<h3>@SinlessVirgo</h3>
			<h3>Kingston, Jamaica</h3>
			<h3>{{date}}</h3>
		</div>

		<div class="bottom" id="userinfo">
			<p>
				I am a smart and talented young man who loves website design and development. Contact me if you'd like to work together on a new project.
			</p>
			<div class="grid2" id="stats">
				<div style="margin-right: -25px; font-weight: bold; color: black">7</div><div style="font-weight: bolder;color: black" >100</div><div style="color:black;font-weight: bold">250</div>
				<div style="margin-right: -25px">Posts</div><div>Following</div><div>Followers</div>
			</div>
			<div id="follow">
				<button type="button">Follow</button>
			</div>
		</div>
	</div>
{% endblock %}